<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t(:social_sharing_buttons) %></h1>
<div class="social_sharing_form">
  <p><%= Spree.t(:social_sharing_settings_description) %></p>
  <%= render "form" %>
</div>
