/*
 *= require store/spree_frontend
*/

#social_nav {
  height: 80px;
  padding-top: 15px
}
#social_nav ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
#social_nav ul li {
  float: left;
  padding: 5px 0 0 0;
  margin-right: 10px;
  list-style-type: none;
}
#social_nav ul li a {
  padding: 4px 5px 0 0;
  height: 32px;
  text-decoration: none;
  line-height: 1.45em;
}
.reddit img {
  padding-top: 3px;
}
