<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
  <img src="http://www.reddit.com/static/spreddit1.gif" alt="<%= Spree.t(:submit_to_reddit, scope: [:social, :buttons]) %>" border="0" /> 
</a>
